{% extends 'base.html'%}

{% block title %}
    HOME | S.A.M.P.
{% endblock %}


{% block content %}
    <div class="home">
        <h1> Welcome To S.A.M.P. Fitness </h1>
        <p> If You Have Dreams & Goals, Thats All That Matters </p>
        <br>
        <button class="button"> 
            <a 
            href="/athlete">  Athletes    
        </a>
    </button>
    <br><br>
    <button class="buttonn"> 
        
        <a 
            href="/workout"> Location  
        </a>
</button>
<br><br>
<button class="buttonnn"> 
    <a 
    href="/contact">  Contact Us   
    </a>
</button>
<br>
</div>


<div class="about">
    <h1> Owner: Corey Sample </h1>
    <p>
        Corey Sample born/raised in Philadelphia,Pa
            <br><br>
        Attended Northeast High School
            <br><br>
        All City football selection 2001 and played in All City All star game 2002
            <br><br>
        Attended Tuskegee university (02-04) and IUP (05-07) 
            <br><br> 
        1st team all psac west FS 07 and 3rd team all Northeast region (D2).
            <br><br>
        Colorado Ice/CRUSH arena football player 2010-2016 2nd team all IFL (2014-2015) 22 career ints. 
            <br><br>
        Currently I run a full time training business where I get athletes of all ages and levels bigger, 
        stronger and faster 
            <br><br>
        I was mentored by Ken Minifield (1984 Olympic 100 meter qualifier) in speed and agility.
    </p>
</div>
<hr>
<div class="contact">
    <h1> Need To Contact Us </h1>
 <div class="pics">
    <a href="mailto:csamp9@gmail.com">
        <img src="https://i.imgur.com/zHq1tX1.jpg" alt="" 
                width="900px" height="750px"
    >
    </a>
     
     <a href="tel:267-872-9508">
         <img src="https://i.imgur.com/TSRXzTb.png" alt=""
                width="550px" height="700px">
    </a>
 </div>
</div>

<hr>

<h1>Our Athletes</h1>
<div class="athlete">
        <img src="https://i.imgur.com/byeSDod.jpg" 
                width="750px" height="600px"
        >  
    
            <img src="https://i.imgur.com/0zezVcB.jpg" 
                width="750px" height="600px"
            >
</div>


{% endblock %}