*{
    box-sizing: border-box;
}
.card{
    color: aqua;
}
body{
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}
.header{
    overflow: hidden;
    text-decoration: none;
    color: black;
    display: flex;
    background-image: url('https://i.imgur.com/R3S4S18.jpg');
}
.header a{
    float: left;
    padding: 7px;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
    color: aqua;
}
.header-right{
    float: right;
    padding-left:650px;
    padding-top: 10px;
    color: grey;
    text-shadow: 2px 2px 2px aqua;
}
.header a.logo{
    margin-top: 0;
}
@media screen and (max-width:500px){
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
    .
    .header-right{
        float: none;
    }
}
h1{
    text-align: center;
    color: aqua;
    text-shadow: 2px 2px 2px aqua;
    font-size: 350%;

}
h2{
    text-align: center;
    color: aqua;

}
p{
    text-align: center;
    color: grey;
    text-shadow: 2px 2px 2px aqua;
    font-size: xx-large;
}
.button:hover
a:hover,
.buttonn:hover
a:hover,
.buttonnn:hover
a:hover,
.contact:hover
a:hover {
    background-color: aqua;
    color: grey;
    font-size: 150%;
}
.contact:hover
a:hover {
    background-color: aqua;
    color: grey;
    padding-top:3% ;
    border-radius: 25%;
}

a:hover,
a.header
:active{
    font-size:175%;
    background-color: grey;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
}
.home{
    padding-bottom: 6%;
    padding-top: 15%;
    background-image: url('https://i.imgur.com/UaYW4XR.jpg');
}
.home a, button{
    font-size: xxx-large;
    padding: 10px 10px 10px;
    background-color: grey;
    border-radius: 45%;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
}
.sticky{
    position: fixed;
    width: 100%;
}
.pics{
    display: flex;
}
.athlete{
    display: flex;
    padding-bottom: 10%;
}
footer{
    color: black;
    background-image: url('https://i.imgur.com/R3S4S18.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: x-large;
    padding-bottom: 20%;
}